@import url(../opgave.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Happy Monkey", cursive;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

header {
  text-align: center;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 3rem;
}

.jail {
  height: 200px;
  width: 250px;
  background-color: black;
  transform: translate(1200px, 500px);
}

.bars {
  height: 200px;
  width: 250px;
  z-index: 3;
  transform: translate(1200px, 500px);
  position: absolute;
  margin-top: -200px;
  display: flex;
  justify-content: space-between;
}

.bar {
  height: 200px;
  width: 20px;
  background-color: lightgray;
}

.bo{
  margin: 0 0;
  transition: all 1s ease 1s;
}

